body{
 	font-family: "Gill Sans", Helvetica, sans-serif;
     }
     
     
.main {
      width: 100%;
      margin: 0 auto;
    }
    
.container{
	 text-align: center;
	 width:60%;
	 margin: 0 auto;
	 }
  
